nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Fontdiner Swanky", serif;

}
nav a {
    text-decoration: none;
    color: green;
    font-weight: 500;
    font-size: clamp(.75rem, 2.5vw, 1.75rem);
}
nav a:hover {
    color: hotpink;
}

body {
    background-color: lightgray;
    
}
