section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFD447;
}

section a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 8px #ff6ec7, 0 0 15px #ff6ec7;

}

section a:hover {
    color: #FFD447;
}